body, html, #root, .App, .leaflet-container, .leaflet-pane {
  position: relative;
  width: 100%;
  height: 100%;
}

.leaflet-marker-icon.leaflet-interactive {
  position: fixed;
}

.App {
  text-align: center;
}

.DialogAdd {
  background: white;
  width: 80%;
  height: 80%;
  opacity: .8;
  top: 10%;
  left: 10%;
  position: absolute;
  z-index: 600;
}

.DialogDetail {
  background: white;
  width: 30%;
  height: 40%;
  opacity: .8;
  top: 10%;
  left: 10%;
  position: absolute;
  z-index: 600;
}

.Button {
  top: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 5px;
  border: 2px solid #ccc;
  width: 100px;
  height: 30px;
  background-color: #27c1cc;
  text-align: center;
  text-decoration: none;
  font: 'bold 18px 'Lucida Console', Monaco, monospace';
  text-indent: 1px;
  opacity: .8;
}

.Button:hover {
  background-color: beige;
  border: 2px solid black;
}
 /* playin with the button */

.Button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Button:hover span {
  padding-right: 25px;
}

.Button:hover span:after {
  opacity: 1;
  right: 0;
}

.Button:active {
  transform: translateY(4px)
}

.AddButton  {
  position: absolute;
}



