body, html, #root, .App, .leaflet-container, .leaflet-pane {
  position: relative;
  width: 100%;
  height: 100%;
}

.leaflet-marker-icon.leaflet-interactive {
  position: fixed;
}

.App {
  text-align: center;
}