.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  opacity: 1;
  color: black;
}

.modalStyle {
  background-color: #fff;
  border-radius: 5px;
  min-height: 100px;
  margin: 1rem;
}